/*
  Dishes
  ============================== */

.dish-menu

  li
    margin-left: 15px
    padding: 15px 15px 15px 0
    border-bottom: 1px solid $colorGreyAlt

    &.selected
      background: url(../img/checkmark.svg) no-repeat top 15px right 15px / 16px auto
  
  .name
    display: block
    font-weight: $fontSemiBold
    margin-bottom: 5px
  
  .description
    font-size: $fontXS
    color: $colorBurgundyAlt

