/*
  Config
  ============================== */

// Proportional
$base=             10px
$lineHeight=       30px
$documentMinWidth= 320px
$contentMaxWidth=  960px

$headerHeight=     60px
$locationHeight=   30px
$searchHeight=     50px

// Typography
$fontFamily= 'Nunito Sans', sans-serif
$fontScale=  62.5%

$fontXXS=    10px
$fontXS=     12px
$fontS=      14px
$fontM=      16px
$fontL=      20px
$fontXL=     24px
$fontXXL=    36px
$fontXXXL=   48px

$fontLight=    300
$fontRegular=  400
$fontSemiBold= 600
$fontBold=     700

// Colors
$colorFont= #222

$colorBurgundy= #39000f
$colorBurgundyAlt= #800020
$colorGrey= #c9c9c9
$colorGreyAlt= #eee

// Effects
$transitionDuration= 300ms
$borderRadius=       $base
$shadowColor=        rgba(0, 0, 0, .25)
$boxShadow=          0 0 15px $shadowColor

// Easing
$easeOutBack= cubic-bezier(0.175, 0.885, 0.320, 1.275)
